.git
.gitignore
.github
vendor
laravel/vendor
.env
.env.*
config/config.php
laravel/config/hub.php
storage/logs/**
storage/backups/**
laravel/storage/logs/**
laravel/storage/framework/cache/**
laravel/storage/framework/sessions/**
laravel/storage/framework/views/**
.phpunit.cache
laravel/.phpunit.cache
docker-compose.override.yml
*.md
!README.md
tests
laravel/tests
.DS_Store
.cursor
dist
